{% extends "base.html" %}

{% block content %}
<h1>Список работ</h1>
{% if current_user.is_authenticated %}
<div><a class="btn btn-primary" href="create">Добавить работу</a></div>
{% endif %}
{% for job in jobs %}
 <div>
     <h2>Action # {{loop.index}}</h2>
     <table class="table">
         <thead>
         <tr>
             <th>Название работы</th>
             <th>ФИО ответственного</th>
             <th>Продолжительность</th>
             <th>Список id команды</th>
             <th>Завершена</th>
         </tr>
         </thead>
         <tbody>
         <tr>
             <td>{{job.job}}</td>
             <td>{{job.team_leader_data.surname}} {{job.team_leader_data.name}}</td>
             <td>{{job.work_size}}</td>
             <td>{{job.collaborators}}</td>
             <td>{{job.is_finished}}</td>
         </tr>
         </tbody>
     </table>
 </div>
{% endfor %}
{% endblock %}